**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
string = "mahmoud osama mohmaed soliman"
print(len(string))
length = 0
for i in string:
    length = length + 1
print(length)

29
29

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [2]:
string = input()
if len(string)<2:
    print("")
else:
    print(string[0] + string[1] + string[-2] +string[-1])

mahmoud
maud

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [3]:
string = input()
if len(string)<3:
    string=string
else:
    if string.endswith("ing"):
        string = string + "ly"
    else:
        string = string + "ing"
print(string)

mahmoud
mahmouding

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [4]:
words=["mahmoud","abdelkhalec","abdallh","abcdefghijk","abdelrahman","ahmed","helwan","abcdefghijklmno"]
longest_word = 0
longest_length = 0
for word in words:
    if len(word)>longest_length:
        longest_word = word
        longest_length=len(word)
    elif len(word)==longest_length:
        longest_word = [longest_word , word]
print(longest_word)
print(longest_length)

abcdefghijklmno
15

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [5]:
name = "Mahmoud"
way1 = name[-1] + name[1:-1] + name[0]
temp = name[-1]
name = name.replace(name[-1],name[0])
name = name.replace(name[0],temp,1)

print(way1)
print(name)

dahmouM
dahmouM

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [6]:
name = "mahoudosamamohmaed"
print(name[0::2])

mhuoaaome

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)*

In [7]:
string = "I am Mahmoud osama , I study in helwan university , helwan university is too hot and too far so don't go to helwan university"
words = string.split(" ")
list_Of_words = set(words)
the_most = 0
number=0
for word in list_Of_words:
    if words.count(word)>number:
        the_most = word
        number =words.count(word)
print(the_most)
print(number)

helwan
3

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [8]:
x = input()
print(x.upper())
print(x.lower())
print(x.swapcase())

Mahmoud osama MOHMED sOLIMAN
MAHMOUD OSAMA MOHMED SOLIMAN
mahmoud osama mohmed soliman
mAHMOUD OSAMA mohmed Soliman

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [9]:
string ="mahmoud osama mohmed soliman abdallh"
if len(string)%4==0:
    string=string[::-1]
print(string)
print(len(string))

hlladba namilos demhom amaso duomham
36

**10- Write a Python program to remove a newline in Python

In [10]:
string = "I am Mahmoud osama\n , I study in helwan university\n , helwan university is too hot and too far so don't go to helwan university\n"
print(string)
print(string.replace("\n"," "))

I am Mahmoud osama
 , I study in helwan university
 , helwan university is too hot and too far so don't go to helwan university

I am Mahmoud osama  , I study in helwan university  , helwan university is too hot and too far so don't go to helwan university

**11-Write a Python program to check whether a string starts with specified characters

In [11]:
string = "mahmoud osama"
print(string.startswith("o"))

False

**12- Write a Python program to add prefix text to all of the lines in a string

In [12]:
string = "I am Mahmoud osama\n , I study in helwan university\n , helwan university is too hot and too far so don't go to helwan university\n"
list1=string.split('\n')

for i in list1:
    print(">"+i)

>I am Mahmoud osama
> , I study in helwan university
> , helwan university is too hot and too far so don't go to helwan university
>

**13-Write a Python program to print the following numbers up to 2 decimal places

In [13]:
x = 144.1596497913
print("{:.2f}".format(x))

144.16

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [14]:
x = 144.1596497913
print("{:+.2f}".format(x))

+144.16

**15-Write a Python program to display a number with a comma separator

In [15]:
number = 13489267
print("{:,}".format(number))

13,489,267

**16-Write a Python program to reverse a string using 2 ways

In [16]:
string ="mahmoud osama mohmed soliman abdallh"
way1=string[::-1]
way2 = ""
for i in string:
    way2 = i + way2
print(string)
print(way1)
print(way2)

mahmoud osama mohmed soliman abdallh
hlladba namilos demhom amaso duomham
hlladba namilos demhom amaso duomham

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [17]:
string = "I am Mahmoud osama , I study in helwan university , helwan university is too hot and too far so don't go to helwan university"
repeated_characters = {}
for i in string:
    repeated_characters[i]=string.count(i)
print(repeated_characters)

{'I': 2, ' ': 24, 'a': 9, 'm': 3, 'M': 1, 'h': 5, 'o': 11, 'u': 5, 'd': 4, 's': 7, ',': 2, 't': 9, 'y': 4, 'i': 8, 'n': 9, 'e': 6, 'l': 3, 'w': 3, 'v': 3, 'r': 4, 'f': 1, "'": 1, 'g': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [18]:
string = "I am Mahmoud osama , I study in helwan university , helwan university is too hot and too far so don't go to helwan university"
for i in string:
    if string.count(i)==1:
        print(i)
        break

M

**19-Write a Python program to remove spaces from a given string

In [19]:
string = "I am Mahmoud osama , I study in helwan university , helwan university is too hot and too far so don't go to helwan university"
string = string.replace(" ","")
print(string)

IamMahmoudosama,Istudyinhelwanuniversity,helwanuniversityistoohotandtoofarsodon'tgotohelwanuniversity

**20-Write a Python program to count the number of non-empty substrings of a given string

In [20]:
string = "mahmoud osama mohmed soliman"
length = len(string)
print(int(length * (length + 1) / 2))

406

**21-write a Python program to swap first and last element of any list.

In [21]:
L = [15,"ahmed",48.45,True,"mahmoud","osama",48,19,43]
temp = L[0]
L[0] = L[-1]
L[-1] = temp
print(L)

[43, 'ahmed', 48.45, True, 'mahmoud', 'osama', 48, 19, 15]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [22]:
input_list = input("input the list : ")
input_list = input_list.split(",")
pos1 = int(input("position 1 : "))
pos2 = int(input("position 2 : "))
temp = input_list[pos1]
input_list[pos1]=input_list[pos2]
input_list[pos2]=temp
print(input_list)

input the list : 23,65,19,90
position 1 : 1
position 2 : 2
['23', '19', '65', '90']

**23- search for the all ways to know the length of the list*

In [23]:
elements = ['mahmoud', 'osama', 'ali', 'ahmed', 'khaled','soliman','mohmed']
print(len(elements))
length = 0
for i in elements:
    length  +=1
print(length)

7
7

**24- write a Python code to find the Maximum number of list of numbers*

In [24]:
elements = [15,34,97,84,68,49,47,67,49,47,84,67,94,10,2,14,52,31,48]
maxnum=elements[0]
for i in elements:
    if i>maxnum:
        maxnum = i
print(maxnum)

97

**25- write a Python code to find the Minimum number of list of numbers*

In [25]:
elements = [15,34,97,84,68,49,47,67,49,47,84,67,94,10,2,14,52,31,48]
mininum=elements[0]
for i in elements:
    if i<mininum:
        mininum = i
print(mininum)

2

**26-search for if an elem is existing in list

In [26]:
elements = [15,34,97,84,68,49,47,67,49,47,84,67,94,10,2,14,52,31,48]
element = int(input("input integar number : "))
print(element in elements)

input integar number : 49
True

**27- clear python list using different ways

In [27]:
elements = [15,34,97,84,68,49,47,67,49,47,84,67,94,10,2,14,52,31,48]
elements.clear()
i=0
while i < len(elements):
    elements.pop()
print(elements)

[]

**28-remove duplicated elements from a list

In [28]:
elements = [15,34,97,84,68,49,47,67,49,47,84,67,94,10,2,14,52,31,48,15,97,48]
elements=list(set(elements))
print(elements)

[97, 34, 67, 68, 2, 10, 14, 15, 47, 49, 48, 84, 52, 94, 31]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [29]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
list1=[]
for idx in range(0,len(test_list), 2):
    list1.append({key_list[0]: test_list[idx], key_list[1] : test_list[idx + 1]})
print(list1)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways*

In [30]:
elements = [15,34,97,84,68,49,47,67,49,47,84,67,94,10,2,14,52,31,48,15,97,48]

way1 = len(set(elements))

unique_list=[]
way2 = 0

for element in elements:
    if element not in unique_list:
        unique_list.append(element)
        way2 += 1

print(way1)
print(way2)

15
15

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [31]:
elements= [15,34,16,45,15,26,15,32,34,15,26,34,26,15,45,91,26,34]
list_freq=[]
limit = int(input("input the limit of freq : "))
for i in elements:
    if elements.count(i) > limit:
        list_freq.append(i)
print(set(list_freq))

input the limit of freq : 2
{34, 26, 15}

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [32]:
elements = [1,2,2,3,4,5]
strongest_neighbour = []
for i in range(1, len(elements)):
    x = max(elements[i], elements[i-1])
    strongest_neighbour.append(x)
print(strongest_neighbour)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [33]:
digits = [1,2,3]
for i in digits:
    for j in digits:
        for k in digits:
            if i!=j and j!=k and i!=k:
                print([i,j,k])

[1, 2, 3]
[1, 3, 2]
[2, 1, 3]
[2, 3, 1]
[3, 1, 2]
[3, 2, 1]

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [34]:
digits = [1,2,3]
for i in range(len(digits)):
    for j in range(i,len(digits)):
        print(digits[i:j+1])

[1]
[1, 2]
[1, 2, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [35]:
list_1 = ['a','b']
list_2 = [1, 2]
unique_combinations = []
 
for i in range(len(list_1)):
    for j in range(len(list_2)):
        unique_combinations.append((list_1[i], list_2[j]))
 
print(unique_combinations)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [36]:
elements = [1 ,1, 2, 3, 4, 5, 1, 2, 1]
element  = int(input())
res = [i for i in elements if i != element]
print(res)

1
[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [37]:
list_1 = ["Gfg", "is", "best"]
list_2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
for i in range (len(list_2)):
    list_2[i]=list_1[list_2[i]]
print(list_2)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [38]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
k = int(input("the number : "))
n = int(input("the freq : "))
res = [i for i in test_list if i.count(k) == n]
print(res)

the number : 4
the freq : 2
[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [39]:
def myfunc(n):
    return n[2]

array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]] 
array.sort(key=myfunc)
print(array)

[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}*

In [40]:
dict1 = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

print(sorted(dict1.items(),key = lambda x: x[1]))
print(sorted(dict1.items()))

[('yash', 2), ('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32)]
[('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32), ('yash', 2)]

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [41]:
dict1 = {"Gfg" : 3,"is": 7, "best" : 10, "for" : 6, "geeks" : 3}
k = int(input(""))
print(dict1)
dict1 = {key:value for (key, value) in dict1.items() if value < k}
print(dict1)

7
{'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 3}
{'Gfg': 3, 'for': 6, 'geeks': 3}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [42]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [43]:
dict1 = {"Gfg" : 3,"is": 7, "best" : 10, "for" : 6, "geeks" : 3}

for key in dict1:
     print(key, 'corresponds to ', dict1[key])

Gfg corresponds to  3
is corresponds to  7
best corresponds to  10
for corresponds to  6
geeks corresponds to  3

**44- Write a Python script to merge two Python dictionaries

In [44]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
merge = dic1.copy()
merge.update(dic2)
print(merge)

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [45]:
dict1 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
print(max(dict1.values()))
print(min(dict1.values()))

60
10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}*

In [46]:
dict1 = {'c1': 'Red', 'c2': 'Green', 'c3':None}
print(dict1)
dict1 = {key:value for (key, value) in dict1.items() if value is not None}
print(dict1)

{'c1': 'Red', 'c2': 'Green', 'c3': None}
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [47]:
elements = ('mahmoud', 'osama', 'ali', 'ahmed', 'khaled','soliman','mohmed')
print(elements[0])

mahmoud

**48-Write a Python program to unpack a tuple into several variables

In [48]:
elements = ('mahmoud', 'osama', 'ali', 'ahmed', 'khaled','soliman','mohmed')
a,b,c,d,*e= elements
print(a,b,c,d,e)

mahmoud osama ali ahmed ['khaled', 'soliman', 'mohmed']

**49-Write a Python program to add an item to a tuple

In [49]:
elements = ('mahmoud', 'osama', 'ali', 'ahmed', 'khaled','soliman','mohmed')
elements = list(elements)
elements.append("soliman")
elements =tuple(elements)
print(elements)

('mahmoud', 'osama', 'ali', 'ahmed', 'khaled', 'soliman', 'mohmed', 'soliman')

**50-Write a Python program to convert a tuple to a string

In [50]:
elements = ('mahmoud ', 'osama ', 'ali ', 'ahmed ', 'khaled ','soliman ','mohmed ')
elements = "".join(elements)
print(elements)
print(type(elements))

mahmoud osama ali ahmed khaled soliman mohmed
<class 'str'>

**51-Write a Python program to convert a list to a tuple

In [51]:
elements = [15,53,51,54,36,48,21,29,35,57,84,61,35,45,35,48,47,79,85]
elements = tuple(elements)
print(type(elements))

<class 'tuple'>

**52-Write a Python program to reverse a tuple

In [52]:
tuple_ = (15,78,94,34,37,48,61,89)
tuple_ = list(tuple_)
tuple_.reverse()
print(tuple_)

[89, 61, 48, 37, 34, 94, 78, 15]

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]*

In [53]:
list_of_tuple = [(15,48,32,48),(94,65,87,49),(14,98,32,64),(78,94,63,24)]
for i in range(len(list_of_tuple)):
    list_of_tuple[i] = list(list_of_tuple[i])
    list_of_tuple[i][-1] = 100
    list_of_tuple[i] = tuple(list_of_tuple[i])
print(list_of_tuple)

[(15, 48, 32, 100), (94, 65, 87, 100), (14, 98, 32, 100), (78, 94, 63, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [54]:
string = "mahmoud osama mohmed soliman"
characters = []
for i in string:
    characters.append(i)
print(tuple(characters))

('m', 'a', 'h', 'm', 'o', 'u', 'd', ' ', 'o', 's', 'a', 'm', 'a', ' ', 'm', 'o', 'h', 'm', 'e', 'd', ' ', 's', 'o', 'l', 'i', 'm', 'a', 'n')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples*

In [55]:
tuple_of_tuple = ((15,48,32,48),(94,65,87,49),(14,98,32,64),(78,94,63,24))
average_tuple = [sum(x) / len(x) for x in zip(*tuple_of_tuple)]
print(average_tuple)

[50.25, 76.25, 53.5, 46.25]

**56-Write a Python program to add member(s) to a set.

In [56]:
number = {15,13,14,79,45,62,48,-65,78,95,12,54,56,0,-48,47}
element =input()
number.add(int(element))
print(number)

45
{0, 12, 13, 14, 79, 15, 78, -48, 95, 45, 47, 48, 54, 56, 62, -65}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [57]:
number = {15,13,14,79,45,62,48,-65,78,95,12,54,56,0,-48,47}
element =input()
number.discard(int(element))
print(number)

15
{0, 12, 13, 14, 79, 78, -48, 95, 45, 47, 48, 54, 56, 62, -65}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [58]:
set1 = {15,48,26,78,94,62,84,63,48,24,59,20}
set2 = {56,79,14,63,58,79,15,84,26,38,19,42}
intersection_set = set1.intersection(set2)
union_set = set1.union(set2)
set1_differenc = set1.difference(set2)
set2_differenc = set2.difference(set1)
symmetric_differenc_set = set1.symmetric_difference(set2)
print(intersection_set)
print(union_set)
print(set1_differenc)
print(set2_differenc)
print(symmetric_differenc_set)

{26, 84, 63, 15}
{78, 15, 14, 79, 19, 84, 20, 24, 26, 94, 38, 42, 48, 56, 58, 59, 62, 63}
{78, 48, 20, 24, 62, 59, 94}
{38, 42, 14, 79, 19, 56, 58}
{58, 38, 42, 14, 79, 78, 48, 19, 20, 62, 56, 24, 59, 94}

**59-Write a Python program to find the maximum and minimum values in a set*

In [59]:
number = {15,13,14,79,45,62,48,-65,78,95,12,54,56,0,-48,47}
maxnum=list(number)[0]
mininum=list(number)[0]
for i in number:
    if i>maxnum:maxnum=i
    if i<mininum:mininum=i
print(maxnum)
print(mininum)

95
-65

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [60]:
elements = [15,53,51,54,36,48,21,29,35,57,84,61,35,45,35,48,47,79,85]
for i in elements:
    for element in elements:
        if (i+element==100):
            print(str(i) + "+" + str(element) + "= 100")

15+85= 100
53+47= 100
21+79= 100
47+53= 100
79+21= 100
85+15= 100